*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    gap: 2rem;
}

h1{
    font-size: 2.5rem;
    color:#333
}

#valor{
    font-size: 4rem;
    font-weight: bold;
    color: #222;
}

button{
    padding: 0.7rem 1.4rem;
    border: none;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transform: 0.25s ease;
    margin: 0 0.5rem;
}

#sumar{
    background: #4caf50;
    color: white;
}
#restar{
    background: #e53935;
    color: white;
}
#reset{
    background: #546e7a;
    color: white;
}

button:hover{
    transform: scale(1.05);
    opacity: 0.9;
}

button{
    box-shadow: 03px 8px rgba(0,0,0,0.15);
}

@media(max-width:480px){
    h1{
        font-size: 2rem;
    }
    #valor{
        font-size: 3rem;
    }
    
    button{
        width: 100%;
        max-width: 200px;
        margin: 0.3rem 0;
    }

    body{
        gap: 1.5rem;
    }
}